# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/bundles

# local build for development
/dev

# local build for production
/prd

# misc
.DS_Store

/config/local.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
assets/States/*.vts

src/lib/langdef.js
