{
  "tabWidth": 4,
  "overrides": [
    {
      "files": [
        ".github/**/*.yml",
        ".github/**/*.yaml",
        ".prettierrc",
        "package.json"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
